<table>
  <thead>
    <th>Förnamn</th>
    <th>Efternamn</th>
    <th>Ålder</th>
    <th>Boende</th>
  </thead>
  <tbody>
    <tr *ngFor="let p of people | async">
      <td>{{p.firstname}}</td>
      <td>{{p.lastname}}</td>
      <td>{{p.ageGroup.name}}</td>
      <td>{{p.accommodation.title}}</td>
    </tr>
  </tbody>
</table>
