<h2>Anmälan är mottagen</h2>

<p>Följande personer är anmälda till Öjersjö- och Furulundskyrkan församlingsläger 29 sep - 1 okt 2017 e Kr - Jag och mitt hus vill följa Herren</p>

<table>
  <thead>
    <tr>
      <th>Namn</th>
      <th>Ålder</th>
      <th>Boende</th>
    </tr>
  </thead>
  <tbody *ngIf="registration">
    <tr *ngFor="let p of registration.people">
      <td>{{p.firstname}} {{p.lastname}}</td>
      <td>{{p.ageGroup.name}}</td>
      <td>{{p.accommodation.title}}</td>
    </tr>
  </tbody>
</table>

<h4>Glöm inte att betala till EFS via Swish eller Bankgiro</h4>
<p *ngIf="registration">Att betala: {{registration.totalPrice}} kr<br>
Swish-konto: 123 657 1236<br>
Plusgiro EFS-föreningen: 60 85 38 - 5<br>
Ange namn och telefonnummer vid betalning.</p>
