<form [formGroup]="form" (ngSubmit)="save()">
  <fieldset formArrayName="people">
    <legend>Deltagare</legend>
    <div class="people">
        <ng-container *ngFor="let person of people.controls; let i=index" [formGroupName]="i">
          <label [for]="'person-firstname-'+i">Deltagare {{i+1}}</label>
          <input type="text" placeholder="Förnamn" name="firstname" formControlName="firstname" [id]="'person-firstname-'+i" />
          <input type="text" placeholder="Efternamn" name="lastname" formControlName="lastname" />
          <select name="ageGroup" formControlName="ageGroupId" (change)="onChangeAgeGroup(i, $event.target.value)" >
            <option value="">-- Välj åldersgrupp --</option>
            <option *ngFor="let ag of ageGroups" [value]="ag.id">{{ag.name}}</option>
          </select>
          <select name="accommodation" formControlName="accommodationId">
            <option value="">-- Välj boende --</option>
            <ng-container *ngIf="selectedAgeGroups && selectedAgeGroups[i]">
              <option *ngFor="let acc of selectedAgeGroups[i].accommodations" [value]="acc.id">{{acc.title}} {{acc.price}} kr</option>
            </ng-container>
          </select>
          <div class="remove">
              <a (click)="removePerson(i)"><i class="fas fa-user-times"></i></a>
          </div>
        </ng-container>
        <div></div>
        <button type="button" (click)="addPerson()"><i class="fas fa-user-plus"></i> Lägg till deltagare</button>
    </div>
  </fieldset>

  <fieldset>
    <legend>Adress m.m.</legend>
    <div class="address">
      <label for="address">Postadress</label>
      <input type="text" class="span4" id="address" name="address" formControlName="address" />
  
      <label for="postcode">Postnr</label>
      <input type="text" id="postcode" name="postcode" formControlName="postcode" />
      
      <label for="city">Postort</label>
      <input type="text" id="city" name="city" formControlName="city" />
  
      <label for="phone">Telefon</label>
      <input type="text" id="phone" name="phone" formControlName="phone" />
      
      <label for="email">E-post</label>
      <input type="email" id="email" name="email" formControlName="email" />
    
      <label for="other">Övrigt, allergi etc</label>
      <textarea name="other" id="other" formControlName="other" rows="5"></textarea>    

      <button type="submit"><i class="fas fa-paper-plane"></i> Skicka</button>
    </div>
  </fieldset>
</form>
<p>Form value: {{ form.value | json }}</p>
