div.people {
    display: grid;
    grid-template-columns: 150px 1fr 1fr 1fr 2fr 40px;
    grid-gap: 10px;
}


div.address {
    display: grid;
    grid-template-columns: 150px 1fr 100px 3fr;
    grid-gap: 10px;
}


.address > button[type=submit] {
    grid-column: 2/3;
}

input#address,
input#phone,
input#email,
textarea#other {
    grid-column: span 3;
}

.remove {
    text-align: center;
    margin-top: 0.5rem;
    a {
        color: #aaa;
    }
    a:hover {
        color: red;
    }
}