<table>
  <thead>
    <th>Deltagare 1</th>
    <th>Adress</th>
    <th>Kontaktinfo</th>
    <th>Familj</th>
    <th>Deltagare</th>
    <th>Att betala</th>
    <th>Övrigt</th>
    <th>Anmäld</th>
  </thead>
  <tbody>
    <tr *ngFor="let r of registrations | async">
      <td>{{r.people[0].firstname}} {{r.people[0].lastname}}</td>
      <td>{{r.address}}<br/>{{r.postcode}} {{r.city}}</td>
      <td>{{r.phone}}<br/><a [href]="'mailto:'+r.email">{{r.email}}</a></td>
      <td>{{r.family ? 'Ja' : 'Nej'}}</td>
      <td>{{r.people.length}}</td>
      <td>{{r.totalPrice}}</td>
      <td>{{r.other}}</td>
      <td>{{r.createdAt}}</td>
    </tr>
  </tbody>
</table>