nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  background-color: white;
  border-bottom: 1px solid #333;
  a {
    text-decoration: none;
    font-size: 20px;
    color: #333;
    padding: 15px 20px;
  }
  a:hover {
    color: #33f;
  }
}

section {
  margin-top: 75px;
}