:host {
    background: #0c646e;
    background: linear-gradient(135deg, #0c646e 0%, #1c93b9 100%) no-repeat fixed;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    display: block;
}

section.main {
    background-color: white;
    width: 1170px;
    margin: 20px auto;
    padding: 0 15px;
    border-radius: 10px 10px 10px 10px;
}
