@import "normalize/import-now";
@import "skeleton/core/config";
@import "skeleton/themes/fresh/vars";

// Skelton overrides
$button-hover-color: darken($button-color, 25%);
$button-hover-border-color: darken($button-border-color, 25%);
$button-hover-background-color: $button-background-color;

@import "skeleton/themes/fresh/include_components";

/* Forms */
label {
    text-align: right;
    margin-top: 0.5rem;
}

legend {
    font-size: 20px;
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid $button-border-color;
}
